<!DOCTYPE html>
<html>
<head>
  <title>maximal CAN'T THINK OF NAME</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <script src="http://intridea.github.com/sketch.js/lib/sketch.js"></script>
  <script src="https://raw.githubusercontent.com/processing-js/processing-js/v1.4.8/processing.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

</head>
<body>

<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <h1>maximal</h1>
  
  <% if current_user.nil? %>
    <%= link_to "log in with twitter", "/auth/twitter" %>
    <%= link_to "log in with tumblr", "/auth/tumblr" %>
  <% else %>
    Welcome, <%= current_user.name %>.
    <%= link_to "sign out", signout_path, method: :delete %>
  <% end %>
  
  <%= yield %>
  
</div>

</body>
</html>
