<!DOCTYPE html>
<html>
<head>
  <title>CollageCaption</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="http://intridea.github.com/sketch.js/lib/sketch.js"></script>
</head>
<body>

  <h1>I NEED A NAME</h1>

  <% if current_user.nil? %>
    <%= link_to "log in with twitter", "/auth/twitter" %>
    <%= link_to "log in with tumblr", "/auth/tumblr" %>
  <% else %>
    Welcome, <%= current_user.name %>
  <% end %>

<%= yield %>

</body>
</html>
