<!DOCTYPE html>
<html>
<head>
  <title>mixed up</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <script src="http://intridea.github.com/sketch.js/lib/sketch.js"></script>
</head>
<body>

  <h1>mixed up</h1>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <% if current_user.nil? %>
    <%= link_to "log in with twitter", "/auth/twitter" %>
    <%= link_to "log in with tumblr", "/auth/tumblr" %>
  <% else %>
    Welcome, <%= current_user.name %>.
  <% end %>

<%= yield %>

</body>
</html>
